@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fdfdfd;
  
}

.card {
  width: 25em;
  height: 15em;
  transition: 0.3s;
  padding: 1em;
  background-color: #ddd
}

.card:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
}

.card-container {
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  height: inherit;
  
}
.card-top{
  display: flex;
  align-content: space-around;
  justify-content: center;
}

.card-botton{
  display: flex;
  align-content: space-around;
  justify-content: center;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center
}

.current-phrase{
  font-size: 1.8em;
  color: #34495e;
  font-family: 'Inconsolata', monospace;
}
.said-by-the-user{
  font-size: 1.45em;
  font-family: 'Inconsolata', monospace;
}