ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding: 0
  }
  li {
    border: 1px solid #ddd;
    width: 100%;
    padding: .5em;
    counter-increment: my-awesome-counter;
    margin: .5em 0;
  }
  li::before {
    content: counter(my-awesome-counter);
    background: #662974;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
  }
  ol ol li::before {
    background: #DE51FF;
  }
  ol ol ol li::before {
    background: #EE9EFF;
  }